<div class="hobbies-section" id="hobbies">
  <h2 class="hobbies-heading">Hobbies</h2>

  <div class="hobbies-grid">
    <div *ngFor="let hobby of hobbies" class="hobby-card">
      <h3 class="hobby-title">
        <a [href]="hobby.link" target="_blank" class="hobby-link">
          {{ hobby.title }}
        </a>
      </h3>
      <hr class="hobby-divider" />
      <p class="hobby-description">
        {{ hobby.description }}
        <span *ngIf="hobby.annex">
          <a [href]="hobby.annex" target="_blank">{{ hobby.annexText }}</a>
        </span>
      </p>
      <!--<hr class="hobby-divider" />
      <div [innerHTML]="hobby.embed"></div>-->
    </div>
  </div>
</div>