.career-section {
    max-width: 90vw;
    width: 98vw;
    margin: 2rem auto;
    box-sizing: border-box;
    margin-bottom: 6rem;
}

.career-heading {
    font-family: 'MyTitleFont', 'Oswald', Arial, sans-serif !important;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: black;
}

.career-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    gap: 4rem;
}

.career-cards app-career-card:last-child:nth-child(odd) {
    flex: 0 1 420px;
    margin-left: auto;
    margin-right: auto;
}

.career-cards app-career-card {
    flex: 1 1 420px;
    display: flex;
}

h3 {
    justify-self: center;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0;
}