.career-section {
    max-width: 70vw;
    width: 98vw;
    margin: 2rem auto;
    box-sizing: border-box;
    margin-bottom: 6rem;
}

.career-heading {
    font-family: 'MyTitleFont', 'Oswald', Arial, sans-serif !important;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: black;
}

.career-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    gap: 4rem;
}

.career-cards app-career-card:last-child:nth-child(odd) {
    margin-left: auto;
    margin-right: auto;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.career-cards app-career-card:last-child:nth-child(odd) {
    flex: 0 1 420px;
    margin-left: auto;
    margin-right: auto;
}

.career-cards app-career-card {
    flex: 1 1 420px;
    display: flex;
}